@import '../../main.less';
.home{
  image{
    height: 100%;
    width: 100%;
  }
  .title{
    border-left: 7rpx solid @maincolor;
    padding-left: 15rpx;
    margin: 20rpx 0 20rpx 30rpx;
  }
  .nav{
    // height: 800rpx;
    background: #fff;
    width: 650rpx;
    left: 50%;
    transform: translate(-50%, -80rpx);
    box-shadow: 0 5rpx 10rpx @greyBg;
    margin-bottom: -80rpx;
    position: relative;
    border-radius: 15rpx;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    padding: 25rpx;
    .item{
      flex: 25%;
      text-align: center;
      font-size:0;
      -webkit-text-size-adjust:none;
      margin: 10rpx 0;
      .item-pic{
        display: inline-block;
        border-radius: 50%;
        height: 120rpx;
        width: 120rpx;
        background: @greyBg;
      }
    }
  }
  .field {
    .item-container{
      display: flex;
      padding: 0 25rpx;
      flex-wrap: wrap;
      .item{
        width: 50%;
        height: 180rpx;
        overflow: hidden;
        .image-box{
          height: 100%;
        }
      }
      .item:first-of-type{
        width: 100%;
        height: 280rpx;
        .image-box{
          transform: translateY(-100%);
          image{
            display: block;
          }
        }
        .image-box.active{
          animation:itemMove1 2s infinite normal forwards;
          -webkit-backface-visibility:hidden; //隐藏转换的元素的背面  
          -webkit-transform-style: preserve-3d; //使被转换的元素的子元素保留其 3D 转换  
        }
      }
      .item:nth-of-type(2){
        .image-box{
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          transform: translateX(-100%);
          image{
            height: 100%;
          }
        }
        .image-box.active{
          animation:itemMove2 2s infinite normal forwards;
          -webkit-backface-visibility:hidden; //隐藏转换的元素的背面  
          -webkit-transform-style: preserve-3d; //使被转换的元素的子元素保留其 3D 转换  
        }
      }
      .item:nth-of-type(3){
        .image-box.active{
          animation:itemMove3 2s infinite normal forwards;
          -webkit-backface-visibility:hidden; //隐藏转换的元素的背面  
          -webkit-transform-style: preserve-3d; //使被转换的元素的子元素保留其 3D 转换  
          image{
            display: block;
          }
        }
      }
    }
  }
  @keyframes itemMove1{
    from {transform: translateY(-100%);}
    to {transform: translateY(0);}
  }
  @keyframes itemMove2{
    from {transform: translateX(-100%);}
    to {transform: translateX(0);}
  }
  @keyframes itemMove3{
    from {transform: translateY(0);}
    to {transform: translateY(-100%);}
  }
}